@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: robotolight, arial, serif, sans-serif;
    margin: auto;
    border: 1px solid #567C73;
}

#bloc_page
{
    width: 100%;
}

b
{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}
        /*-------------HEADER---------------*/
header
{
    display: flex;
    width: 100%;
}

#ma_photo
{
    background-color: #567C73;
    width: 35%;
    padding-top: 5%;
    padding-bottom: 4%;
}

#photo
{
    width: 150px;
    height: 150px;
    border: 3px solid #567C73;
    background: url(ma_photo.jpg) no-repeat center;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background-size: 35%;
}

#header
{
    width: 65%;
    text-align: justify;
    margin: 5%;
    line-height: 110%;
    color: #424242;
}

#name
{
    color: #567C73;
}

h1
{
    font-size: 250%;
}

u
{
    text-decoration-color: #567C73;
    padding-top: 3%;
    text-underline-position: under;
}

#header h2
{
    font-size: 130%;
}

 
main
{
    display: flex;
    flex-direction: row-reverse;
}
            /*-----------------BLOC GAUCHE -----------------*/
#bloc_gauche
{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #567C73;
}

.infos
{
    font-size: 70%;
    text-align: justify;
    padding: 2% 15% 5% 10%;
    margin-top: 5%;
    color: white;
}

#a_propos_de_moi
{
    letter-spacing: 0.1em;
    line-height: 150%;
    flex-grow: 1;
}

#bloc_gauche h3
{
    background-color: white;
    color: #567C73;
    text-align: center;
    padding: 2% 0;
    margin: 0;
    font-size: 120%;
    border-right: 1px solid #567C73;
}

ul
{
    list-style: none;
    padding: 0;
}

ul li
{
    padding-bottom: 5%;
}

#loisir_icones
{
    display: flex;
    padding: 8%;
}

.icones
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    margin: auto;
    padding: auto;
}

            /*-------------- BLOC DROIT--------------*/

#bloc_droit
{
    width: 65%;
    margin:  0 5%;
    color: #424242;
}

#bloc_droit p
{
    font-size: 75%;
}

#bloc_droit h3
{
    font-size: 120%;
    color: black;
    margin-bottom: 2%;
}

#bloc_droit h4
{
    font-size: 100%;
    color: #424242;
}

h3 i,.dot
{
    color: #567C73;
    padding-right: 5%;

}

.bloc_formation, .bloc_emploi
{
    display: flex;
}

.date
{
    width: 34%;
    display: flex;
}

.dot
{
    padding: 5% 7% 0 0;
}

.etablissement
{
    width: 64%;
    text-align: justify;
}

#recommandations
{
    display: flex;
    padding-bottom: 5%;
}

.id_reco
{
    width: 50%;
}

#formation, #emploi, #recommandations
{
    border-top: 2px solid #567C73;
    padding-top: 4%;
}

h4
{
    margin: 4% 2% 0 2%;
}

h1
{
    color: black;
}
