@media all and (max-width: 700px) {
     

     body
    {
        width: auto;
        border: none;
    }

    header
    {
        flex-direction: column;
        background-color: #567C73;
        text-align: center;
    }

    .ma_photo, .header
    {
        width: 100%;
        padding: 0;
    }

    h1, .name, h2
    {
        padding: 0;
        color: white;
    }

    h2
    {
        padding-bottom: 5%;
    }

    main
    {
        flex-direction: column-reverse;
    }

    .bloc_droit
    {
        width: auto;
    }

    .bloc_gauche
    {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact, .apropos
    {
        width: 50%;
        border-top: 3px solid #567C73;
        text-align: center;

    }

    .loisir
    {
        width: 100%;
    }

    .infos
    {
        padding: 2%;
    }
    }

    