@media all and (max-width: 700px) {
     

     body
    {
        width: auto;
        border: none;
    }

    header
    {
        flex-direction: column;
        background-color: #567C73;
    }

    .ma_photo
    {
        padding: 1% 0
    }

    .id
    {
        width: auto;
        padding-bottom: 2%;
    }

    h1, h2, .name
    {
        width: auto;
        color: white;
        text-align: center;
        padding: 0;
    }

    main
    {
        flex-direction: column-reverse;
    }

    .bloc_gauche, .bloc_droit
    {
        width: auto;
    }

    .bloc_droit
    {
        padding: 0 2%;
    }

    .bloc_droit i 
    {
        display: none;
    }

    h3, .recommandation
    {
        text-align: center;
    }

    .parcours
    {
        padding-bottom: 2%;
    }

    .contact
    {
        border-top: solid 3px #567C73;
        text-align: center;
    }

    li
    {
        padding-bottom: 2%;
    }

    .loisir
    {
        width: 100%;
    }

    .infos
    {
        padding: 2% 0;
    }
